.home {
    header {
        position   : relative;
        text-align : center;
        color      : white;
        font-family: 'Dosis', sans-serif;

        img {
            width              : 100%;
            height             : auto;
            border-bottom-style: solid;
            border-color       : black;
            border-width       : 0.35vw;
        }

        .companyOnImage {
            position : absolute;
            top      : 3.5vw;
            left     : 3.5vw;
            font-size: 4.5vw;
        }

        .sloganOnImage {
            position  : absolute;
            top       : 8.5vw;
            left      : 3.8vw;
            text-align: left;
            font-size : 2vw;

            a {
                color: white;
            }
        }
    }

    section {
        display      : flex;
        margin-left  : 2.5%;
        margin-right : 2.5%;
        margin-top   : 4%;
        margin-bottom: 4%;

        .leftSideOne {
            width        : 50%;
            font-size    : 3vw;
            font-style   : oblique;
            padding-right: 2vw;
        }

        .rightSideOne {
            width       : 50%;
            font-size   : 1.5vw;
            line-height : 1.5;
            padding-left: 2vw;
        }
    }
}