.home {
    header {
        position   : relative;
        text-align : center;
        color      : white;
        font-family: 'Dosis', sans-serif;

        img {
            width: 100%;
        }

        .companyOnImage {
            position : absolute;
            top      : 3.5vw;
            left     : 3.5vw;
            font-size: 4.5vw;
        }

        .sloganOnImage {
            position : absolute;
            top      : 8.5vw;
            left     : 3.8vw;
            text-align: left;
            font-size: 2vw;

            a {
                color: white;
            }
        }
    }
}